<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image: url('../../assets/img/header.jpg')"></div>
  <div class="title-container">
    <h1 class="h1-seo dashboard-title">Admin Dashboard</h1>
    <div class="dashboard-actions">
      <a routerLink="./users" routerLinkActive="active" class="btn btn-primary btn-round btn-lg">Manage Users</a>
      <a routerLink="./events" routerLinkActive="active" class="btn btn-primary btn-round btn-lg">Manage Events</a>
    </div>
  </div>
</div>

<!-- Wrapper for the list (router-outlet content) -->
<div class="list-wrapper" *ngIf="!router.url.includes('/admin-dashboard/events')">
  <router-outlet></router-outlet>
</div>

<!-- Event List Wrapper -->
<div *ngIf="router.url.includes('/admin-dashboard/events')" class="main">
  <div class="section section-basic">
    <div class="container-fluid dashboard-container">
      <div class="content-wrapper">
        <div class="event-list-container" [@slideInOut]="showForm ? 'out' : 'in'">
          <h3 class="events-title">Manage Events</h3>
          <app-event-list [showAddEventButton]="false" [isAdmin]="isAdmin"></app-event-list> <!-- Pass isAdmin to EventListComponent -->
        </div>
        <div class="event-form-container" *ngIf="showForm" [@fadeSlideIn]>
          <app-view-event [id]="selectedEventId"></app-view-event>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
        <li><a href="https://www.creative-tim.com/about-us">About Us</a></li>
        <li><a href="http://blog.creative-tim.com">Blog</a></li>
        <li><a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">MIT License</a></li>
      </ul>
    </nav>
    <div class="copyright">
      &copy; {{ data | date: 'yyyy' }}, Designed by
      <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
      <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
    </div>
  </div>
</footer>