<div class="wrapper">
  <div class="main">
    <div class="section section-basic">
      <div class="container-fluid dashboard-container">
        <div class="content-wrapper">
          <div class="event-list-container" [@slideInOut]="showForm ? 'out' : 'in'">
            <h3 class="events-title">Manage Events</h3>
            <app-event-list></app-event-list>
          </div>
          <div class="event-form-container" *ngIf="showForm" [@fadeSlideIn]>
            <app-view-event [id]="selectedEventId"></app-view-event>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
